<!-- Balão de diálogo -->
<div class="dialog">
    <!-- Foto -->
    <div class="dialog-image push-left pointer emoji-this">
    </div>
    <!-- Perfil -->
    <div class="dialog-content">
        <!-- Título -->
        <div class="dialog-title">
            <!-- Nome -->
            <h1><span class="ghost-this" data-ghost="áquila freitas">áquila freitas</span><span class="blinking-effect">_</span></h1>
            <!-- Icones -->
            <div class="icons push-right">
                <a href="https://instagram.com/_aquilacf" target="_blank"><i class="icon-instagram pointer" title="Instagram"></i></a>
                <a href="https://www.linkedin.com/in/aquilacf" target="_blank"><i class="icon-linkedin-square pointer" title="LinkedIn"></i></a>
                <a href="mailto:aquilacf@protonmail.com"><i class="icon-envelope-square pointer" title="@"></i></a>
                <a href="https://github.com/aquilacf" target="_blank"><i class="icon-git-square pointer" title="Gogs"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
