@font-face {
  font-family: 'Space Mono';
  src: url('../assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ecf0f1;
  height:100%;
  margin:0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

/**
 * DIALOG
 */
div.dialog {
  overflow: auto;
  overflow-x: hidden;
  padding: 12px;
  width: 580px;
  max-height: 700px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 3px 3px 0px 1px #7f8c8d;


  /**
   * @TODO
   */
  position: fixed;
  left:50%;
  margin-left:-290px;
  top:50%;
  margin-top: -100px;

  animation: pulse 3s infinite;

}


@keyframes pulse {
  0%,20% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80%,100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


div.dialog div.dialog-image {
  width: 60px;
  height: 60px;
  background-image: url('../assets/eu.jpg');
  margin: -12px 12px -12px -12px;
  overflow: hidden;

  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  background-position: center;
  background-repeat: no-repeat;
}
div.dialog div.dialog-image.big {
  width: 210px;
  height: 210px;
}

div.dialog div.dialog-content { overflow: hidden; }

div.dialog div.dialog-content hr {
  border: 0;
  height: 0;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.3em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.dialog div.dialog-content div.dialog-title h1{
  font-family: 'Space Mono', monospace;
  font-weight: lighter;
  font-size:33px;
  margin: 0;
  display: inline-block;
  line-height: 33px;
}

div.dialog div.dialog-content div.dialog-title div.icons{
  font-size: 19px;
  margin-top: 9px;
}

div.dialog div.dialog-content hr {
  border: 0;
  height: 0;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.3em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.dialog div.dialog-content div.dialog-description p{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 17px;
  margin: 0;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: 0px 0px 0px #7f8c8d;
}

.push-left {  float:left;   }
.push-right { float: right; }
.pointer:hover {  cursor: pointer;  }
.clearfix { clear:both; }
.invisible {
  visibility: hidden;
}

div.medium-spacing {
  display: inline-block;
  width: 60px;
  height: 0px;
}


/**
 * Cursor effect
 */
.blinking-effect {
   animation: blinker .8s linear infinite;
}

@keyframes blinker {
  49% { opacity: 1.0; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

/**
 * Emoji Fall
 */
body > div.emoji-rain {
  z-index: 999;
  position: absolute;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-animation: rain 5s 1;
  animation: rain 5s 1;
}

@keyframes rain {
  0%   {top:-108px;}
  100% {top:2000px;}
}

a{
  color: inherit;
  text-decoration: inherit;
}
