<li *ngFor="let i of inventions">
  <span> <b> Name: </b>  {{ i.name }}  || </span>
  <span>  <b> Inventor: </b>  {{ i.inventor }}  || </span>
  <span>  <b> Year: </b> {{ i.year }}  </span>
</li>

<hr>

<label> {{ nameModel }} </label>
<div>
  <input [(ngModel)]="nameModel" placeholder="enter name">
</div>
<label> {{ inventorModel }} </label>
<div>
  <input type="text" [(ngModel)]="inventorModel" placeholder="enter inventor ">
</div>
<label> {{ yearModel }} </label>
<div>
  <input [(ngModel)]="yearModel" placeholder="year">
</div>

<br>

<!-- call the createInvention() function from component on click of button -->
<!-- note the use of parenthesis for the click event -->
<button class="btn" (click)="createInvention()"> create invention </button>
